/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.selection-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"],
select {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

button:hover {
  background-color: #0056b3;
} */
.contract-address {
  display: inline-block;
  position: relative;
}

.copy-button {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 5px; /* Adjust the margin as needed */
}
