.contract-address {
  display: inline-block;
  position: relative;
}

.copy-button {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 5px; /* Adjust the margin as needed */
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.App {
  margin-top: 140px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  text-align: center;
}
